# Evaluación Almacenamiento y Captura de datos

### Prof. Claudio Aracena

** 2. Utilizando la herramienta Selenium, haga un proceso de web scraping para el sitio web ​https://es.wikipedia.org​. Para ello realice las siguientes tareas: **

* a. Utilizar selenium para emular un navegador y cargar la página deseada. (1 punto)
* b. Ingresar en el input de búsqueda el string “paises por superficie” y presionar enter. (0,5 puntos)
* c. Esperar por la página de resultados. (0,5 puntos)
* d. Extraer la lista de países y territorios con su superficie desde la página de
resultados (no incluir Planeta Tierra, Océanos y Tierras emergidas). (2
puntos)
* e. Cerrar el navegador. (0,5 puntos)
* f. Convertir la lista de países y territorios con su superficie en un dataframe.
(0,5 puntos)
* g. Calcular la suma, el conteo y el promedio de superficies utilizando pandas. (1
punto)

In [1]:
import pandas as pd

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By

from webdriver_manager.chrome import ChromeDriverManager

In [2]:
CHROMEDRIVER_PATH = "/Users/hrivera/.wdm/chromedriver/2.45/mac64/chromedriver"

In [3]:
options = Options()
driver = webdriver.Chrome(CHROMEDRIVER_PATH, options=options)

* Configuramos una espera de 10(s)

In [4]:
driver.implicitly_wait(10) # seconds

* Cargamos pagina de Wikipedia

In [5]:
driver.get('https://es.wikipedia.org/wiki/Wikipedia:Portada')

* Se ingresa parametro de busqueda

In [6]:
elem = driver.find_element_by_name('search')
elem.send_keys("paises por superficie")
elem.send_keys(Keys.RETURN)

* Se extrae la informacion desde la página

In [7]:
table = driver.find_element_by_xpath("//table[@class='col1der Uncol3der']/tbody");

In [8]:
td2 = table.find_elements_by_xpath("//tr/td[2]")

In [9]:
td3 = table.find_elements_by_xpath("//tr/td[3]")

In [10]:
len(td2)

252

In [11]:
paises =[]
for i in range(len(td2)):
    paises.append({"pais" : td2[i].text, "superficie" : td3[i].text})

* Se cierra la sesion del browser

In [12]:
driver.close()

* Se crea un dataframe para el tratamiento de datos

In [13]:
df = pd.DataFrame(paises)

In [14]:
df.head()

                pais   superficie
0     Planeta Tierra  510 072 000
1            Océanos  359 685 360
2  Tierras emergidas  150 386 640
3              Rusia   17 098 242
4          Antártida   14 000 000

* Eliminamos Planeta Tierra, Océanos y Tierras emergidas del dataset

In [15]:
df = df[(df.pais != "Planeta Tierra") & (df.pais != "Océanos") & (df.pais != "Tierras emergidas")]

In [16]:
df.head()

              pais  superficie
3            Rusia  17 098 242
4        Antártida  14 000 000
5           Canadá   9 984 670
6            China   9 596 961
7   Estados Unidos   9 371 174

* Corregimos los datos de superficie

In [17]:
df.superficie = df.superficie.str.replace(" ", "")

In [18]:
df.head()

              pais superficie
3            Rusia   17098242
4        Antártida   14000000
5           Canadá    9984670
6            China    9596961
7   Estados Unidos    9371174

In [19]:
df.superficie.min()

'0,44'

In [20]:
df.superficie.max()

'9984670'

In [21]:
df.superficie = df.superficie.str.replace(",", ".")

In [22]:
df.superficie = pd.to_numeric(df.superficie)

* Obtenemos los calculos de la tarea:

In [23]:
print("Suma:", df.superficie.sum())

Suma: 149937491.44

In [24]:
print("Conteo:", df.pais.count())

Conteo: 249

In [29]:
print("Promedio:", df.superficie.sum()/df.pais.count())

Promedio: 602158.6001606425