# Evaluación Almacenamiento y Captura de datos

### Prof. Claudio Aracena

**1. Haga un proceso de web scraping para el sitio web ​https://www.pcfactory.cl/​. Para ello realice las siguientes tareas:**
* a. Extraer todos los nombres, marcas y precios de los productos bajo la categoría de notebooks. (3 puntos)
* b. Crear un dataframe con la información extraída. (1 punto)
* c. Crea una base de datos con la información del dataframe. (1 punto)
* d. Realizar la consulta SQL que entregue el precio promedio agrupado por
marca. (1 punto)

In [1]:
import requests
import pandas as pd
import sqlite3

from sqlalchemy import create_engine
from bs4 import BeautifulSoup

* Se extraen los datos basicos:

In [2]:
req = requests.get("https://www.pcfactory.cl/notebooks?categoria=735&papa=636")

res = BeautifulSoup(req.text,"html5lib")

nropags = res.find('span', {'id': 'pag_ter2'}).text

print("Nro de páginas:", nropags)

Nro de páginas: 3

* Se itera sobre las n paginas

In [3]:
base = []

for n in range(int(nropags)):
    req = requests.get("https://www.pcfactory.cl/notebooks?categoria=735&papa=636&pagina=" + str(n + 1))

    res = BeautifulSoup(req.text,"html5lib")

    notebooks = res.find_all('div', {'class': 'wrap-caluga-matrix'})

    for n in notebooks:
        marca = n.find('span', {'class': 'marca'}).text
        nombre = n.find('span', {'class': 'nombre'}).text
        precio = n.find('meta', {'itemprop': 'price'})['content']

        base.append({"Marca": marca, "Nombre": nombre, "Precio": int(float(precio))})

* Se crea Dataframe con la informacion extraida

In [4]:
df = pd.DataFrame(base)

In [5]:
df.head()

      Marca                                             Nombre  Precio
0    HP  ®   Notebook 245 G6 14" HD AMD E2-9000e 4GB 500GB ...  174590
1    HP  ®   Notebook 240 G6 14" HD Celeron N3060 4GB 500GB...  184290
2  Acer  ®   Notebook Aspire 3 14" HD Intel Celeron N3350 4...  189990
3  Asus  ®   Notebook X540MA-GQ070T Intel® Celeron® N4000 4...  189990
4    HP  ®   Notebook 245 G6 14" HD AMD E2-9000e 4GB 500GB ...  209990

* Se crea una base de datos

In [6]:
sql_engine = create_engine('sqlite:///data/dbnotebooks.db', echo=False)
connection = sql_engine.raw_connection()

* Insertamos los datos desde el dataframe

In [7]:
df.to_sql('tb_names', connection, index=False, if_exists='replace')

In [8]:
connection.close()

* Consultamos la base de datos

In [9]:
conn = sqlite3.connect("data/dbnotebooks.db")

In [10]:
pd.read_sql("SELECT Marca, round(avg(Precio), 0) FROM tb_names group by Marca", conn)

         Marca  round(avg(Precio), 0)
0     Acer  ®                401328.0
1    Apple  ®                925323.0
2     Asus  ®               1044099.0
3     Dell  ®               1042532.0
4     Gear  ®               2089990.0
5       HP  ®                484681.0
6   Huawei  ®                999990.0
7   Lenovo  ®                627432.0
8      MSI  ®               1082140.0
9  Samsung  ®                950590.0

In [11]:
conn.close()